# Homework 2

## Apartment prices

Reads the data.

In [ ]:
import pandas as pd

df = pd.read_csv('https://raw.githubusercontent.com/su-mt4007/data/refs/heads/main/Booli_sold.csv')
df

,listPrice,rent,livingArea,rooms,published,constructionYear,objectType,booliId,soldDate,soldPrice,...,location.position.latitude,location.position.longitude,location.position.isApproximate,location.region.municipalityName,location.region.countyName,location.distance.ocean,source.name,source.id,source.type,source.url
0,3995000,4467.0,73.0,3.0,2018-10-15 13:33:18,1935.0,Lägenhet,3263989,2018-11-08,3820000,...,59.371033,18.054057,NaN,Stockholm,Stockholms län,260,MOHV,1901865,Broker,http://www.mohv.se/
1,1995000,1773.0,36.0,1.0,2018-10-05 14:29:28,1968.0,Lägenhet,3256231,2018-10-19,2355000,...,59.371242,18.057821,NaN,Stockholm,Stockholms län,218,Notar,1566,Broker,http://www.notar.se/
2,5100000,3839.0,81.0,3.0,2018-09-11 13:44:43,1936.0,Lägenhet,3236660,2018-09-27,6110000,...,59.371617,18.054716,NaN,Stockholm,Stockholms län,186,Historiska Hem AB,65645750,Broker,http://historiskahem.se/
3,5495000,4483.0,107.0,4.0,2018-08-25 02:56:56,1936.0,Lägenhet,3224374,2018-09-06,8050000,...,59.371480,18.053880,NaN,Stockholm,Stockholms län,218,Notar,1566,Broker,http://www.notar.se/
4,1995000,1696.0,29.0,1.0,2018-06-15 17:16:19,1936.0,Lägenhet,3185496,2018-06-18,2400000,...,59.372160,18.053542,True,Stockholm,Stockholms län,166,Mäklarhuset,204,Broker,http://www.maklarhuset.se/
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
153,1495000,1388.0,26.0,1.0,2012-10-20 07:36:37,1935.0,Lägenhet,1297784,2012-11-30,1475000,...,59.372272,18.055659,True,Stockholm,Stockholms län,101,Notar,1566,Broker,http://www.notar.se/
154,2245000,2455.0,50.0,2.0,2012-10-19 15:32:58,1935.0,Lägenhet,1296874,2012-10-27,2245000,...,59.372272,18.055659,True,Stockholm,Stockholms län,101,Notar,1566,Broker,http://www.notar.se/
155,1450000,1072.0,23.0,1.0,2012-09-14 05:10:08,1936.0,Lägenhet,1270599,2012-10-22,1450000,...,59.371194,18.053552,NaN,Stockholm,Stockholms län,255,Notar,1566,Broker,http://www.notar.se/
156,2495000,2748.0,56.0,3.0,2012-09-21 12:19:37,1935.0,Lägenhet,1276232,2012-10-09,2200000,...,59.372759,18.054634,True,Stockholm,Stockholms län,70,Notar,1566,Broker,http://www.notar.se/
157,2300000,2455.0,50.0,2.0,2012-09-16 02:33:35,1935.0,Lägenhet,1272477,2012-10-09,2180000,...,59.372272,18.055659,True,Stockholm,Stockholms län,101,Notar,1566,Broker,http://www.notar.se/

Adds a column with price per square meters.

In [9]:
df['ppsqm'] = df['soldPrice']/df['livingArea']

relevent_df = df[['livingArea', 'soldPrice','ppsqm']]
relevent_df

     livingArea  soldPrice         ppsqm
0          73.0    3820000  52328.767123
1          36.0    2355000  65416.666667
2          81.0    6110000  75432.098765
3         107.0    8050000  75233.644860
4          29.0    2400000  82758.620690
..          ...        ...           ...
153        26.0    1475000  56730.769231
154        50.0    2245000  44900.000000
155        23.0    1450000  63043.478261
156        56.0    2200000  39285.714286
157        50.0    2180000  43600.000000

[158 rows x 3 columns]

Take out the top 5 apartments.

In [11]:
top_5 = relevent_df.sort_values(by = 'ppsqm', ascending = False).head(5) 
top_5

    livingArea  soldPrice          ppsqm
67        24.0    2500000  104166.666667
50        24.0    2450000  102083.333333
54        23.0    2300000  100000.000000
34        25.0    2210000   88400.000000
55        26.9    2300000   85501.858736

Calculate the average prise per square meters in Ekhagen.

In [13]:
ppsqm_mean = df['ppsqm'].mean()
ppsqm_mean

58759.382760081746

We now sort the apartments by the living area.

In [29]:
sorted_df = relevent_df.sort_values('livingArea')

sorted_df

     livingArea  soldPrice          ppsqm
150        20.0    1300000   65000.000000
155        23.0    1450000   63043.478261
54         23.0    2300000  100000.000000
50         24.0    2450000  102083.333333
67         24.0    2500000  104166.666667
..          ...        ...            ...
107       128.3    6025000   46960.249415
106       131.0    5600000   42748.091603
68        138.0    6450000   46739.130435
59        152.0    9250000   60855.263158
102         NaN    3135000            NaN

[158 rows x 3 columns]

Something interesting from the table above is that the apartment with smallest living area have higher price per square meter than the apartment with the largest living area.

## The Swedish Election of 2018

In [35]:
election_df = pd.read_csv('https://raw.githubusercontent.com/su-mt4007/data/refs/heads/main/2018_R_per_kommun.csv', delimiter= ';')

election_df

,LÄNSKOD,KOMMUNKOD,LÄNSNAMN,KOMMUNNAMN,M,C,L,KD,S,V,...,TRP,VL-S,ÖVR,OGEJ,BLANK,OG,RÖSTER GILTIGA,RÖSTANDE,RÖSTBERÄTTIGADE,VALDELTAGANDE
0,1,14,Stockholms län,Upplands Väsby,"23,11","6,26","5,66","6,71","26,97","8,01",...,NaN,NaN,NaN,"0,04","0,69","0,06",25830,26036,30740,"84,7"
1,1,15,Stockholms län,Vallentuna,"28,29","10,11","7,73","7,58","18,91","4,47",...,0,NaN,0,"0,02","0,59","0,08",20952,21099,23438,"90,02"
2,1,17,Stockholms län,Österåker,"29,68","9,35","7,48","7,13","19,71","4,97",...,NaN,NaN,"0,01","0,03","0,69","0,13",27711,27947,31309,"89,26"
3,1,20,Stockholms län,Värmdö,"27,49","9,76","6,4","5,89","20,48","6,02",...,NaN,NaN,"0,01","0,04","0,67","0,07",28115,28335,31371,"90,32"
4,1,23,Stockholms län,Järfälla,"23,96","6,31","6,04","6,29","27,68","8,75",...,0,NaN,"0,02","0,04","0,53","0,07",45654,45948,53230,"86,32"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
285,25,80,Norrbottens län,Luleå,"15,38","7,53","4,37","4,78","38,97","10,47",...,NaN,NaN,"0,01","0,03","0,69","0,04",53182,53589,60185,"89,04"
286,25,81,Norrbottens län,Piteå,"11,82","7,49","2,52","4,8","47,48","10,56",...,NaN,NaN,0,"0,03","0,61","0,02",29523,29719,33094,"89,8"
287,25,82,Norrbottens län,Boden,"14,32","6,23","3,61","4,61","41,76","8,1",...,NaN,NaN,"0,02","0,03","0,84","0,07",19110,19291,21934,"87,95"
288,25,83,Norrbottens län,Haparanda,"12,79","9,61","1,86","5,32","36,69","5,91",...,NaN,NaN,NaN,"0,04","1,01","0,11",4402,4454,6120,"72,78"
289,25,84,Norrbottens län,Kiruna,"10,71","5,38","2,51","4,91","38,23","13,46",...,NaN,"0,05","0,02","0,16","1,09","0,05",14796,14991,17468,"85,82"